<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "SOME - #{controller.action_name.titlecase}".html_safe %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" type="text/css" href="/css/default.css" media="screen"/>
  <%= javascript_include_tag "application" %>
  <script src="/js/jquery-1.8.2.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<script language=javascript><!--
    document.body.style.cursor = 'default';
//-->
</script>
<div class="outer-container">

<div class="inner-container">

	<div class="header">

		<div class="title">

			<!--span class="sitename"><span class="left><a href="index.html">Pauline Alwes, NMD</a></span></span-->

			<div class="slogan" align=center><br>Small Office Management Engine</div>
			<br><br>

<% if 1==2 %>
			<span class="right"><a href=home.jsp>Home</a> |  <a href=clients.jsp>Clients</a> |  <a href=invoicing.jsp>Invoicing</a> |  <a href=calDay.jsp>Calendar</a> |  <a href=inventory.jsp>Inventory</a> |  <a href=http://www.paulinealwesnmd.net target=_blank>Website</a></span>
<% end %>
		</div>

	</div>

	<div class="main">

		<div class="content">


<%= yield %>


<!-- Begin Image Frame Stop *********************************************************** -->

		</div>

		<div class="navigation">

			<h2>Clients</h2>

			<ul>
			    <li><a href="/main/clients">List/Update</a></li>
			    <li><a href="/main/clients/new">New</a></li>
			    <li><a href="/main/clients/mailing_labels">Mailing Labels</a></li>
			    <li><a href="/main/clients/email_list">E-Mail List</a></li>

			</ul>

			<h2>Calendar</h2>

			<ul>
			    <li><a href=calDay.jsp>View/Update</a></li>
			    <li><a href=#>New</a></li>

			</ul>

			<h2>Invoicing</h2>

			<ul>
			    <li><a href=#>List/Update</a></li>
			    <li><a href=#>New</a></li>

			</ul>
<% if 1==2 %>
			<h2>Inventory</h2>

			<ul>
			    <li><a href=#>List/Update</a></li>
			    <li><a href=#>New</a></li>
			    <li><a href=#>Update Website</a></li>

			</ul>
			<h2>Vendors</h2>

			<ul>
			    <li><a href=vendors.jsp>List/Update</a></li>
			    <li><a href=#>New</a></li>

			</ul>
<% end %>



		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div class="footer"><a href="http://www.golden-op.com" target="_blank"><img src="/img/GO_button.GIF" alt="Website design and hosting services by by Golden Opportunities" title="Website design and hosting services by by Golden Opportunities" width="90" height="33" border="0" align="left" /></a>

				<span class="right"><a href="/main">Home</a> | <a href="/main/logout">Logout</a></span>

	</div>

	<div class="clearer"></div>

	</div>

</div>

</div>

</body>
</html>
